/* CSS/hero.css */

.hero {
  position: relative;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;    /* Center horizontally */
  justify-content: center;/* Center vertically */
  width: 100%;
  min-height: 100vh;      /* Make hero fill the viewport */
  text-align: center;
  color: var(--secondary-color);
  z-index: 1;
  padding: 2rem;
}

.hero-text {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  text-align: center;
}

.intro-heading {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  color: var(--secondary-color);
}

.highlight {
  color: var(--accent-color1);
}

.title-animated {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  color: var(--accent-color1);
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.btn {
  display: inline-block;
  background-color: var(--accent-color1);
  color: var(--primary-color);
  padding: 0.8rem 1.7rem;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s, transform 0.3s;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 1rem; /* Add some spacing from the paragraph */
}

.btn:hover {
  background-color: var(--hover-accent);
  transform: scale(1.05);
}

/* Basic thick divider with a subtle gradient */
.divider {
  border: 0;
  height: 12px; /* Thickness of the divider */
  background: linear-gradient(to right, #3498DB, #2ECC71); /* Vibrant gradient */
  width: 100%;        /* Full width of the section */
  border-radius: 6px; /* Rounded edges */
  margin: 0; /* Remove vertical spacing */
}
