/* hero.css */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    text-align: center;
    padding: 5rem 2rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 1;
    color: white;
  }
  .hero-text {
    position: relative;
    z-index: 1;
  }
  .intro-heading {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    color: #ffffff;
  }
  .highlight {
    color: #ffffff;
  }
  .title-animated {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ffffff;
  }
  .btn {
    display: inline-block;
    background-color: #ffa726;
    color: #fff;
    padding: 0.8rem 1.7rem;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s, transform 0.3s;
    font-size: 1rem;
    text-decoration: none;
  }
  .btn:hover {
    background-color: #3e55bd;
    transform: scale(1.10);
  }